body {
    background-color: #162534;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.landing {
    background-color: #333e50;
    width: 50%;
    margin: auto;
    margin-top: 3%;
}

.title {
    display: flex;
    justify-content: center;
}

.title h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
}

.sub-title {
    display: flex;
    justify-content: flex-end;
}

.sub-title h3 {
    color: #ffffff;
    padding-right: 5%;
    font-size: 18px;
}

.nav-bar {
    background-color: #505b6e;
    height: 50px;
    display: flex;
    justify-content: center;    
}

nav a {
    color:#ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 0px 25px;
    margin-top: 15px;
    /* text-align: center; */

}
.nav-bar a.active-page {
    color:#c9c9b5;
}

.map-section {
    position: relative;
    padding-top: 50px;
}

.map-section img{
    width: 90%;
    margin-left: 5%;
}

.map-overlay p {
    background-color: #d9c68d;
    position: absolute;
    top: 13%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    border-width: 4px;
    border-color: #000;
    border-style: solid;
    padding: 10px;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.welcome-message {
    margin-left: 5%;
    width: 90%;
}

.more-info {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

.welcome-message h1 {
    color: #f4ce53;
    font-size: 28px;
}

.welcome-message hr {
    width: 100%;
    background-color: #505b6e;
    height: 3px;
    border: none;
    margin-left: 0;
}

.welcome-message p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.4;
}

.more-info p {
    color: #ffffff;
    font-size: 20px;
}

.more-info button {
    background-color: #f4ce53;
    color: #000;
    height: 44px;
    border-radius: 15px;
    width: 100px;
    font-size: 16px;
    cursor: pointer;
    
}

#form1 {
    display: none;
}

/* SERVICES CSS */

.services-description {
    display: flex;
    flex-direction: row;
}

.services-section {
    padding-left: 5%;
    width: 60%;
}
.services {
    width: 80%;
}
.services h2 {
    color: #f4ce53;
    font-size: 24px;

}

.services h3 {
    color: #f4ce53;
    font-size: 16px;
}

.services p {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.4;
}

.form-section {
    width: 40%;
    margin-right: 15%;
    margin-top: 10%;
    height: 420px;
    background-color: #a39d94;
    
}

.form-section h3 {
    font-size: 16px;
    display: flex;
    justify-content: center;  
    background-color: #a29d94;

}

form {
    background-color: #a39d94;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
label {
    padding-left: 10px;
    padding-right: 10px;
}
textarea {
    width:200px;
    height:150px;
}

.form-submit {
    margin-top: 15px;
    float: right;
}

/* ABOUT US PAGE */

.about-section {
    padding-left: 5%;
    padding-right: 5%;
}

.about-section h2 {
    color: #f4ce53;
    font-size: 24px;
}

.about-section p {
    color: #ffffff;
    font-size: 14px;
    line-height: 1.4;
}

.intro-section {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    justify-content: space-evenly;
    padding-top: 2%;
}

.person {
    width: 25%;
}

.person h3 {
    color: #f4ce53;
    font-size: 16px;
}

.person p{
    color: #ffffff;
    font-size: 14px;
    line-height: 1.4;
}

.person img {
    width: 250px;
}

.contact-us {
    /* padding-left: 5%; */
    display: flex;
    justify-content: center;
}

.interested-section {
    background-color: #a39d94;
    display: flex;
    align-items: center;
    width: 300px;
    height: 100px;
    border-radius: 15px;
    margin-top: 25px;
    padding-right: 5px;
}

.interested-section p {
    font-size: 18px;
    color: #021f46;
    padding: 10px;
}

.interested-section button {
    font-size: 16px;
    color: rgb (255, 241, 163);
    background-color: #f4ce53;
    width: 76px;
    height: 76px;
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.commitment {
    width: 40%;
    padding-left: 50px;
}
.commitment h3 {
    color: #a59983;
    font-size: 24px;
    font-weight: 700;
    float: inline-start;
    font-family: Georgia, 'Times New Roman', Times, serif;

}